<% include ../common/header %>

<div class="jumbotron">
  <h1>Welcome to RankCFB</h1>
  <p class="lead">
    RankCFB is an interactive college football polling application. Create
    and tweak your own rankings using data straight from the NCAA. Compare
    your rankings to the AP, Coaches, and College Football Playoff polls.
  </p>
  <p>
    <a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a>
  </p>
</div>

<% include ../common/footer %>
