<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/favicon.ico?v=1">
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= header %></h1>

    <% if ( userFullName ) { %>
      <h2>Hello, <%=userFullName%></h2>
      <a href="/signout">Sign out</a>
    <% } else { %>
      <a href="/signin">Sign in</a>
      <a href="/signup">Sign up</a>
    <% } %>

    <div>
      <img src="img/football.jpg" alt="Football!">
    </div>
  </body>
</html>
