<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/favicon.ico?v=1">
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= header %></h1>
    <img src="img/football.jpg" alt="Football!">
  </body>
</html>
