<!-- begin footer -->
    </div> <!-- container -->

    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/angular/angular.min.js"></script>

    <% include ./angular %>

  </body>
</html>
