<!-- begin footer -->
    </div> <!-- container -->

    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/angular/angular.min.js"></script>

    <script type="text/javascript" src="/ng/app.js"></script>
    <script type="text/javascript" src="/ng/teams/module.js"></script>
    <script type="text/javascript" src="/ng/teams/controllers.js"></script>

  </body>
</html>
