<!-- begin footer -->
    </div> <!-- container -->

    <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/bs-3.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/angular/angular.js"></script>

  </body>
</html>
