<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/favicon.ico?v=1">
    <title>RankCFB: interactive college football polling</title>
  </head>
  <body>
    <h1><a href="/">RankCFB</a></h1>
    <% for(var i in messages) { %>
      <div class="flash"><%= messages[i] %></div>
    <% } %>

