<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/favicon.ico?v=1">

    <link href="/bs-3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">

    <title><%= TITLE %></title>
  </head>

  <body>
    <div class="container">

      <div class="header">
        <ul class="nav nav-pills pull-right" role="tablist">
        <% for (var nav in navAreas) { %>
          <li role="presentation"
              <% if (navAreas[nav].prefix === activeNav) { %>class="active"<% } %>
          >
            <a href="/<%= navAreas[nav].prefix %>"><%= navAreas[nav].label %></a>
          </li>
        <% } %>
        <% if(user) { %>
          <li role="presentation">
            <a title="Settings" href="#">
              <span class="glyphicon glyphicon-cog"></span>
            </a>
          </li>
          <li role="presentation">
            <a title="Sign out" href="/signout">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
          </li>
        <% } %>
        </ul>
        <h3 class="text-muted">
          RankCFB
        </h3>
      </div>

    <div id="messages">
    <% for (var i in messages) { %>
      <div class="flash alert alert-info">
        <%= messages[i] %>
      </div>
    <% } %>
    </div>

<!-- end header -->
