<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/favicon.ico?v=1">

    <link href="/bs-3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">

    <title><%= TITLE %></title>
  </head>

  <body>
    <div class="container">

      <div class="header">
        <ul class="nav nav-pills pull-right" role="tablist">
          <li role="presentation" class="active">
            <a href="/">Home</a>
          </li>
          <li role="presentation">
            <a href="#">Rankings</a>
          </li>
          <li role="presentation">
            <a href="#">Teams</a>
          </li>
          <li role="presentation">
            <a href="#">Conferences</a>
          </li>
        <% if(user) { %>
          <li role="presentation">
            <a title="Settings" href="#"><span class="glyphicon glyphicon glyphicon-cog"></span></a>
          </li>
        <% } %>
        </ul>
        <h3 class="text-muted">
          RankCFB
        </h3>
        <div id="account-bar">
        <% if (user) { %>
          ...logged in as <%= user.username %>
          [<a href="/signout">Sign out</a>]
        <% } else {%>
          ...not logged in
          [<a href="/signin">Sign in</a> |
          <a href="/signup">Sign up</a>]
        <% } %>
        </div>
      </div>


    <div id="messages">
    <% for (var i in messages) { %>
      <div class="flash"><%= messages[i] %></div>
    <% } %>
    </div>

<!-- end header -->
